html {
    background: #bbc3c6;
    font: 62.5%/1.5em "Trebuchet Ms", helvetica;
  }

  body {
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    }
  
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  
  .shopper {
    text-transform: lowercase;
    font: 2em 'Shopper', sans-serif;
    line-height: 0.5em;
    display: inline-block;
  }

  .notification-popup {
    background: #fafafa;
    color: #000000de;
    box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f;
    border-radius: 4px;
    bottom: 0;
    left: 0;
    position: fixed;
    margin: 24px;
    max-width: 430px;
    padding: 16px 16px 8px;
    z-index: 1001;
  }

  .productplaced-popup {
    background: red;
    color: white;
    box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f;
    border-radius: 4px;
    top: 0;
    right: 0;
    position: fixed;
    margin: 24px;
    max-width: 430px;
    padding: 16px 16px 8px;
    z-index: 1001;
    font-weight: bolder;
  }

  .cookies-popup .actions {
    display: flex;
    justify-content: flex-end;
    margin: 16px -8px 0 0;
  }

  .cookies-popup .actions .mat-button {
    color: #1976d2;
  }

  .cookies-popup .actions .mat-button {
    text-transform: uppercase;
  }


  .mat-button-wrapper {
    color: blue;
    font-weight: bold;
  }
  .mat-button, .mat-icon-button, .mat-stroked-button {
    color: inherit;
    background: transparent;
    }

    .mat-button:hover {
      background-color: grey;
    }
   .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    border-radius: 4px;
    overflow: visible;
    }
  
  
  
  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
  }
  
  p {
    font-size: 1em;
    color: #8a8a8a;
  }
  
  input {
    border: 0.3em solid #bbc3c6;
    padding: 0.5em 0.3em; 
    font-size: 1em;
    color: #8a8a8a;
    text-align: center;
  }
  
  button {
    cursor: pointer;
  }
  img {
    max-width: 9em;
    width: 100%;
    overflow: hidden; 
    margin-right: 1em;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    margin-top: 20px;
    max-width: 75em;
    width: 95%;
    margin: 40px auto;  
    overflow: hidden;
    position: relative;
    
    border-radius: 0.6em;
    background: #ecf0f1;
    box-shadow: 0 0.5em 0 rgba(138, 148, 152, 0.2);
  }
  
  .heading {
    padding: 1em;
    position: relative;
    z-index: 1;
    color: #f7f7f7;
    background: #f34d35;
  }
  
  .cart {
    margin: 2.5em;
    overflow: hidden;
  }
  
  .cart.is-closed {
    height: 0;
    margin-top: -2.5em;
  }
  
  .table {
    background: #ffffff;
    border-radius: 0.6em;
    overflow: hidden;
    clear: both;
    margin-bottom: 1.8em;
  }
  
  
  .layout-inline > * {
    display: inline-block;
  }
  
  .align-center {
    text-align: center;
  }
  
  .th {
    background: #f34d35;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
  }
  
  .tf {
    background: #f34d35;
    text-transform: uppercase;
    text-align: right;
    font-size: 1em;  
  }
  
  .tf p {
    color: #fff;
    font-weight: bold;
  }
  
  .col {
    padding: 1em;
    width: 22%;
  }

  .col-order {
    padding: 1em;
    width: 15%;
  }
  .col-order .price {
    width: 10%;
  }

  .col-url {
    width: 20%;
  }

  .w3-clear:before, .w3-bar:before, .w3-bar:after {
    content: "";
    display: table;
    clear: both;
  }

  span.currentpage:before, span.currentpage:after {
    content: "";
    display: table;
    clear: both;
  }

  .nextprev button.w3-right, .nextprev button.w3-left {
    background-color: #04AA6D;
    color: #ffffff;
    border-color: #04AA6D;
    }
    .w3-btn, .w3-btn:link, .w3-btn:visited {
      color: #FFFFFF;
      background-color: #4CAF50;
    }
    .nextprev button {
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
      padding-left: 19px;
      padding-right: 19px;
      border: 1px solid #cccccc;
      border-radius: 5px;
      padding: 20px;
    }

    .nextprev .margin-down {
      margin-bottom: 20px;
    }
    .w3-left {
      float: left!important;
    }
    .w3-right {
      float: right!important;
    }
    .w3-btn {
      padding: 10px;
    }
  
  .col-pro {
    width: 30%;
  }
  
  .col-pro > * {
    vertical-align: middle;
  }
  
  .col-qty {
    text-align: center;
    width: 17%;
  }
  
  .col-numeric p {
    font: bold 1em helvetica;
  }
  
  .col-total p {
    color: #12c8b1;
  }
  
  .tf .col {
    width: 20%;
  }
  
  .row > div {
    vertical-align: middle;
  }
  
  .row-bg2 {
    background: #f7f7f7;
  }
  
  .visibility-cart {
    position: absolute;
    color: #fff;
    top: 0.5em;
    right: 0.5em;
    font:  bold 2em arial;
    border: 0.16em solid #fff;
    border-radius: 2.5em;
    padding: 0 0.22em 0 0.25em ;
  }
  
  .col-qty > * {
    vertical-align: middle; 
  }
  
  .col-qty > input {
    max-width: 2.6em;
  }
  
  a.qty:hover {
    background: #3b9ac6;
  }
  
  .btn {
    padding: 10px 10px;
    border-radius: 0.3em;
    font-size: 1em;
    font-weight: bold;
    background: #43ace3;
    color: #fff;
  }
  
  .btn:hover {
    box-shadow: 0 3px 0 rgba(59,154,198, 0)
  }
  
  .btn-update {
    float: right;
    margin: 0 0 1.5em 0;
  }
  
  .transition {
    transition: all 0.3s ease-in-out;
  }
  .disabled {
    cursor: not-allowed;
  }
  
  @media screen and ( max-width: 755px) {
    .container {
      width: 98%;
    }
    
    .col-pro {
      width: 35%;
    }
    
    .col-qty {
      width: 22%;
    }
    
    img {
      max-width: 100%;
      margin-bottom: 1em;
    }
  }

  .overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #222;
    z-index: 999;
    opacity: 0.2;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
  
  @media screen and ( max-width: 591px) {
    
  }